@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
  --white: #fff;
  --white-dark: #f0f0f0; /* 寬容慈悲 */
  --white-darker: #ccc;
  --dark-gray: #667280; /* dark gray */
  --donate-yellow: #ffbf00; /* Donate button */
  --black-lighter: #949eaa; /* 專業深度 */
  --black-light: #95969B; /* 慈濟灰 */
  --black: #2a3845;
  --black-dark: #282828; /* Theme Text Color */
  --blue-dark: #1b2d58; /* 慈濟藍 */
  --new-brand-blue: #16274E; /* 新慈濟藍, 取代原本的慈濟藍 */
  --beige: #d8d0c7; /* 純粹扎根 */
  --strong-orange: #D05E31;
  --light-brown: #ece6df;

  --primary-color-blue: var(--blue-dark);
  --primary-color-gray: var(--black-light);
  --secondary-gray: var(--black-lighter);
  --secondary-brown: var(--beige);
  --secondary-white: var(--white-dark);

  --font-meta: .8rem;
  --font-basis: 18px;
  --font-important: 1.2rem;
  --font-category: 1.2rem;
  --font-subtitle: 1.5rem;
  --font-title: 2rem;

  --article-width: 273px;
  --article-img-width: 233px;
  --article-img-height: 144px;
  --article-padding: 20px;
  --article-ratio: 233 / 144;

  --topbar-height: 56px; /* Topbar 56px + submenu 32px */
  --card-height: 100%;
  --no-article-message: 'Coming Soon......';
  /* for ghost post */
  --ghost-accent-color: var(--primary-color-blue);
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, img, small, strong, b, u, i,
ol, ul, li, article, figure,
footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Noto Sans TC', sans-serif;
  /* font-size: inherit; */
  vertical-align: baseline;
  /* font-weight: 400; */
}

html {
  padding-right: 0px !important;
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} */
